body {
    font-family: "Roboto Mono", monospace;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.container {
    width: 35%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* gap: 1.5rem; */
}

.container h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.input-container label {
    font-weight: 500;
    font-size: 0.95rem;
}

.input-container input {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input-container input:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.4);
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #3f51b5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 100%;
}

button:hover {
    background-color: #303f9f;
}
