<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>login</title>
</head>
<body>
    <% if(error && error.length){ %>
        <p><%= error %></p>
    <% } %>
    <% if(success && success.length){ %>
        <p><%= success %></p>
    <% } %>
    <div class="container">
        <img src="/img/Woman with Crossed Arms and Smile.png" alt="">
        <h1>Welcome Back</h1>
        <form action="/login" method="post">
            <div class="input-container">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button>Login</button>
        </form>
    </div>
</body>
</html>